[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "cheat/community"]
	path = cheat/community
	url = https://github.com/cheat/cheatsheets
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "ubersicht/simple-bar"]
	path = ubersicht/simple-bar
	url = https://github.com/Jean-Tinland/simple-bar
