[user]
	name = Vania Smirnov
	email = vaniaspeedy@gmail.com

[color]
	ui = auto
[alias]
	changes=diff --name-status -r
	rlog = log --pretty=format:\"%h %Cblue%cr%Creset %cn %Cgreen%s%Creset\"
        wdiff = diff --color-words
        wshow = show --color-words
[diff]
       renames = true

[push]
	default = current

